TIMEZONE=Europe/Tallinn
PUID=1000
PGID=1000

DATA_DIR=/mnt/media

HOMEPAGE_DOMAIN=homepage.lan
JELLYFIN_DOMAIN=jellyfin.lan
RADARR_DOMAIN=radarr.lan
SONARR_DOMAIN=sonarr.lan
BAZARR_DOMAIN=bazarr.lan
PROWLARR_DOMAIN=prowlarr.lan
DELUGE_DOMAIN=deluge.lan
SEERR_DOMAIN=seerr.lan

MULLVAD_WIREGUARD_PRIVATE_KEY=replace_me
MULLVAD_WIREGUARD_ADDRESSES=10.x.y.z/32
MULLVAD_SERVER_COUNTRIES=Estonia

HOMEPAGE_VAR_JELLYFIN_API_KEY=
HOMEPAGE_VAR_SEERR_API_KEY=
HOMEPAGE_VAR_RADARR_API_KEY=
HOMEPAGE_VAR_SONARR_API_KEY=
HOMEPAGE_VAR_BAZARR_API_KEY=
HOMEPAGE_VAR_PROWLARR_API_KEY=
