TIMEZONE=Europe/Tallinn
PUID=1000
PGID=1000

DATA_DIR=/mnt/media

HOMEPAGE_DOMAIN=homepage.lan
JELLYFIN_DOMAIN=jellyfin.lan
RADARR_DOMAIN=radarr.lan
SONARR_DOMAIN=sonarr.lan
BAZARR_DOMAIN=bazarr.lan
PROWLARR_DOMAIN=prowlarr.lan
QBITTORRENT_DOMAIN=qbittorrent.lan
SEERR_DOMAIN=seerr.lan

MULLVAD_WIREGUARD_PRIVATE_KEY=replace_me
MULLVAD_WIREGUARD_ADDRESSES=10.x.y.z/32
MULLVAD_SERVER_COUNTRIES=Estonia

JELLYFIN_API_KEY=
SEERR_API_KEY=
RADARR_API_KEY=
SONARR_API_KEY=
BAZARR_API_KEY=
PROWLARR_API_KEY=
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=
